<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Heebo">
    <style type="text/css" media="screen">
      body {
        padding: 0;
        margin: 0;
      }
    
      #email-content { 
        height: 100%;
        background: white;
        text-align: center; 
        max-width: 700px;
        margin: 0 auto;
        padding: 15px;
      }
      
      .btn.btn-primary {
        background-color: #2ba3ec;
        border:1px solid #2ba3ec;
        border-radius:4px;
        color:#ffffff;
        display:inline-block;
        font-family:sans-serif;
        font-size:13px;
        font-weight:bold;
        line-height:40px;
        text-align:center;
        text-decoration:none;
        width:200px;
        -webkit-text-size-adjust:none;
        mso-hide:all;
      }
    </style>
    
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div id="email-content">
      <div id="email-header">
        <h1>UCSD Tzu Ching</h1>  
      </div>
      
      <div id="email-body">
        <p>Dear <%= @member.name %>,</p>
        <p>
          Thank you for volunteering as a driver for <b><%= @event.name %></b>
          <% if @event.date %>
            on <b><%= @event.date.to_formatted_s(:long) %></b>
          <% end %>
          !
        </p>
        <p>
          If you are interested in a reimbursement of <b><%= number_to_currency(@reimbursement_amount) %></b> for gas, please let us know
          by clicking the button below. Once notified, we will do our best to get your reimbursement to you as soon as possible.
        </p>
        <br />
        <div>
          <%= link_to "Request reimbursement", reimbursement_request_url(
              reimbursement: {
                event_id: @event.id, 
                member_id: @member.id, 
                claimed: false, 
                amount: @reimbursement_amount
              }
            ), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </body>
</html>