<div id="site-home-page" class="page">
  <%= render "shared/site_header" %>
  
  <div class="page-content">
    <div id="navigation">
      <div class="navigation-panels">
        <div class="navigation-panel-container">
          <a href=<%= admin_resources_path %>>
            <div class="navigation-panel-content">
              <div class="panel-icon">
                <i class="fab fa-elementor"></i>
              </div>
              <div class="panel-label">
                <span>Events</span>
              </div>
            </div>
          </a>
        </div>
        <div class="navigation-panel-container">
          <a href=<%= admin_resources_path %>>
            <div class="navigation-panel-content">
              <div class="panel-icon">
                <i class="fas fa-users"></i>
              </div>
              <div class="panel-label">
                <span>Members</span>
              </div>
            </div>
          </a>
        </div>
        <div class="navigation-panel-container">
          <a href=<%= admin_resources_path %>>
            <div class="navigation-panel-content">
              <div class="panel-icon">
                <i class="far fa-address-card"></i>
              </div>
              <div class="panel-label">
                <span>Officer</span>
              </div>
            </div>
          </a>
        </div>
        <div class="navigation-panel-container">
          <a href=<%= admin_resources_path %>>
            <div class="navigation-panel-content">
              <div class="panel-icon">
                <i class="fas fa-book"></i>
              </div>
              <div class="panel-label">
                <span>Resources</span>
              </div>
            </div>
          </a>
        </div>
        <div class="navigation-panel-container">
          <a href=<%= rails_admin_path %>>
            <div class="navigation-panel-content">
              <div class="panel-icon">
                <i class="fas fa-tools"></i>
              </div>
              <div class="panel-label">
                <span>Admin</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    <h2>UPCOMING EVENTS</h2>
      
    <div id="upcoming-events-container">
      <div id="upcoming-events-list-container">
        <ul id="upcoming-events-list">
          <li class="upcoming-events-list-item">
            <div class="date-section">
              <div class="month">SEPT</div>
              <div class="number">9</div>
              <div class="day-of-week">WED</div>
            </div>
            <div class="details">
              <div class="event-name">Convalescent Home Visit</div>
              <div class="event-time">10:00 AM - 12:00 PM</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>